body {
  width: 100%;
}

#shape {
  stroke-width: 4px;
  fill: transparent;
  stroke: #009FFD;
   stroke-dasharray: 105 400;
  stroke-dashoffset: -20;
  transition: 1s all ease;
}

.svg-wrapper {

  margin-top: 0;
  position: relative;
  width: 300px;
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px
}

.spot {
  position: absolute;
  width: 1500px;
  height: 100%;
  top: 0;
  left: 0;
  width: 900px;
  padding-left: 2000px;
}

#text {
  margin-top: -45px;
  text-align: center;
}

#text a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 30px;
}

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-dashoffset: 10;
  stroke: #06D6A0;
}

.buttons {
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
}

nav {
   margin: 0;
   padding: 0;
   overflow: hidden;
}

a {
  float: left;
   border-right: 1px solid #bbb;
   padding: 14px 16px;
}

a {
  display: block;
  color: maroon;
  text-align: center;
  font-weight: 200;
  text-decoration: none;
 }

.active:hover {
    background-color: green;
}