{{#partial "content"}}

<h1>THE HERO SQUAD</h1>

<form action="/heroes/new" method="POST">
    <label for="data">Post Description</label>
    <input id="data" name="data" class="question" type="text"><br><br>

    <button type="submit" class="btn btn-default">ADD A HERO</button>
</form>

<form action="/heroes/new" method="POST">
    <input type="text" name="name" class="question" id="name"  required autocomplete="off"/>
    <label for="nme"><span>What's your name?</span></label>
    <input type="number" name="age" class="question" id="age"  required autocomplete="off"/>
    <label for="age"><span>What's his/her age?</span></label>
    <input type="text" name="strength" class="question" id="strength"  required autocomplete="off"/>
    <label for="strength"><span>Describe a known strength?</span></label>
    <input type="text" name="strength" class="question" id="strength"  required autocomplete="off"/>
    <label for="strength"><span>What's their known strength?</span></label>
    <input type="number" name="size" class="question" id="size"  required autocomplete="off"/>
    <input type="submit" value="ADD A HERO"/>
</form>



{{/partial}}

{{> layout.hbs}}


