{{#partial "content"}}

<body>

   <h1>THE HERO SQUAD</h1>

   <form action="/heroes/new" method="POST">
       <input type="text" name="name" class="question" id="name"  required autocomplete="off"/>
       <label for="nme"><span class="span">Heroes name</span></label><br><br><br>
       <input type="number" name="age" class="question" id="age"  required autocomplete="off"/>
       <label for="age"><span class="span">What's his/her age?</span></label><br><br>
       <input type="text" name="strength" class="question" id="strength"  required autocomplete="off"/>
       <label for="strength"><span class="span">Describe a known strength?</span></label><br><br>
       <input type="text" name="strength" class="question" id="strength"  required autocomplete="off"/>
       <label for="strength"><span class="span">What's their weak point?</span></label><br><br><br>

       <input type="submit" value="ADD A HERO"/>
    </form>

    <style>

    body {
      background-image: url(https://image.freepik.com/foto-gratis/cierrese-encima-silueta-hormiga-que-camina-arbol-fondo-puesta-sol_30478-896.jpg);
      background-repeat: no-repeat;
      background-size: contain;
    }

    input,span,label {
         font-family: lora;
         display: block;
         margin: 10px;
         padding: 5px;
         border: none;
         font-size: 22px;
         margin-left: auto;
         margin-right: auto;
    }


    input:focus {
         outline: 0;
    }


    input.question,{
          font-size: 48px;
          font-weight: 300;
          border-radius: 2px;
          margin: 0;
          border: none;
          width: 100%;
          background: rgba(0, 0, 0, 0);
          transition: padding-top 0.2s ease, margin-top 0.2s ease;
          overflow-x: hidden;
    }


    input.question + label{
         display: block;
         position: relative;
         white-space: nowrap;
         padding: 0;
         margin: 0;
         width: 10%;
         border-top: 1px solid red;
         -webkit-transition: width 0.4s ease;
         transition: width 0.4s ease;
         height: 0px;
    }

    input.question:focus + label {
         width: 80%;
    }

    input.question:focus,
         input.question:valid {
         padding-top: 35px;
    }

    input.question:focus + label > span, input.question:valid + label > span {
         top: -100px;
         font-size: 22px;
         color: #333;
    }

    form {
       margin-left: 800px;
       margin-right: 800px;
       text-align: center;
    }

   </style>
</body>
{{/partial}}

{{> layout.hbs}}


