{{#partial "content"}}

<body>

   <h1>CREATE A HERO</h1>
   <hr>
   <br><br><br><br><br><br><br>
   <form action="/heroes/new" method="POST">
       <input type="text" name="name" class="question" id="name"  required autocomplete="off"/>
       <label for="nme"><span class="span">Heroes name</span></label><br><br><br>
       <input type="number" name="age" class="question" id="age"  required autocomplete="off"/>
       <label for="age"><span class="span">What's his/her age?</span></label><br><br>
       <input type="text" name="strength" class="question" id="strength"  required autocomplete="off"/>
       <label for="strength"><span class="span">Describe a known strength?</span></label><br><br>
       <input type="text" name="strength" class="question" id="strength"  required autocomplete="off"/>
       <label for="strength"><span class="span">What's their weak point?</span></label><br><br><br>
    </form><br>
    <button type="submit"><img src="/images/crown.jpg"><button/>
    <style>

    body {
      background-image: url(https://www.gecopywriter.com/wp-content/uploads/2016/01/ants.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    input,span,label {
         font-family: lora;
         display: block;
         margin: 10px;
         padding: 5px;
         border: none;
         background-color: unset;
         font-size: 22px;
         color: black;
    }

    button {
       border-radius: 5px;
       font-family: lora;
       color: black;font-size: 19px;
       margin-left: 490px;

    }

    input:focus, button:focus {
         outline: 0;
    }

    img {
       width: 90px;
    }

    input.question,{
          font-size: 48px;
          font-weight: 300;
          border-radius: 2px;
          margin: 0;
          border: none;
          width: 100%;
<!--          background: rgba(0, 0, 0, 0);-->
          transition: padding-top 0.2s ease, margin-top 0.2s ease;
          overflow-x: hidden;
    }


    input.question + label{
         display: block;
         position: relative;
         white-space: nowrap;
         padding: 0;
         margin: 0;
         width: 50%;
         border-top: 2px solid red;
         -webkit-transition: width 0.4s ease;
         transition: width 0.4s ease;
         height: 0px;
    }

    input.question:focus + label {
         width: 80%;
    }

    input.question:focus,
         input.question:valid {
         padding-top: 35px;
    }

    input.question:focus + label > span, input.question:valid + label > span {
         top: -100px;
         font-size: 22px;
         color: palevioletred;
    }

    h1 {
      text-align: center;
    }

    form {
    width: 50%;
       margin-left: 400px;
       background-color: white;
       opacity: 0.8;
       border-radius: 25px;
       text-align: center;
    }

   </style>
</body>
{{/partial}}

{{> layout.hbs}}


