{{#partial "content"}}

<h1>THE HERO SQUAD</h1>

<form action="/heroes/new" method="POST">
    <label for="data">Post Description</label>
    <input id="data" name="data" class="question" type="text"><br><br>

    <button type="submit" class="btn btn-default">ADD A HERO</button>
</form>

{{/partial}}

{{> layout.hbs}}


