{{#partial "content"}}

    <h1>THE HERO SQUAD</h1>
    <a href="/Heroes" class="btn btn-black btn-lg">View Squad List</a>
    <a href="/Heroes/new" class="btn btn-black btn-lg">Add a New Squad</a>
{{/partial}}

{{> layout.hbs}}