{{#partial "content"}}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <body style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://img.haikudeck.com/mg/DAEF916D-A7C8-4FE9-B1CE-F635F30AB9F8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    height: 1000px;
    transform: translate(-50%, -50%);
     color: white;">

    <div><br><br><br><br><br>
        <h1 style="font-size:50px; text-align: center;">THE HERO SQUAD APP</h1><br>
        <h1 style="text-align: center;">I am Rachel</h1><br>
        <button style=""><a href="/heroes/new">Check my App</a></button>
    </div>

  </body>

{{/partial}}

{{> layout.hbs}}