{{#partial "content"}}


<body>
    <br>
    <br>
    <br>
    <br>
    <nav>
        <span class="active" href="">Heroes</span>
        <span href="">Squads</span>
        <span href="">upload</span>
    </nav>
    <img style="float: right;" src="images/Screenshot from 2019-09-16 17-34-43.png">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
   <div style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.ytimg.com/vi/Cl1dyX7esBE/maxresdefault.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    height: 1000px;
    transform: translate(-50%, -50%);
     color: white;">

      <div><br><br><br><br><br>
          <h1 style="font-size:80px; text-align: center;">THE HERO SQUAD APP</h1><br>
          <h1 style="text-align: center; font-family: 'Allerta Stencil', sans-serif;">Provided just for you</h1><br><br><br>
      </div><br><br><br>

      <div class="svg-wrapper">
          <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
              <rect id="shape" height="40" width="150"/>
              <div id="text">
                  <a><span class="spot">U.R</span>Welcome</a>
              </div>
          </svg>
      </div>
  </div>
</body>
{{/partial}}

{{> layout.hbs}}