
{{#partial "content"}}

<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <nav>
        <a style="text-decoration: none; color: rgb(15, 73, 160);" class="active" href="/heroes/new">Heroes</a>
        <a style="text-decoration: none; color: rgb(3, 79, 121);" href="">Squads</a>
        <a style="text-decoration: none; color: rgb(9, 38, 54);" href="">upload</a>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>
      <div>
          <h1 style="font-size:80px; text-align: center;">THE HERO SQUAD APP</h1><br>
          <h1 style="text-align: center; font-family: 'Allerta Stencil', sans-serif;">Provided just for you</h1><br>
      </div><br><br><br>

      <div class="svg-wrapper">
          <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
              <rect id="shape" height="40" width="150"/>
              <div id="text">
                  <a href="/heroes/new"><span class="spot">u.r</span>Welcome</a>
              </div>
          </svg>
      </div>
    </div>
</body>
{{/partial}}

{{> layout.hbs}}