{{#partial "content"}}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <body style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1461887046916-c7426e65460d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=2a03e179401fab10a3b1941193440e12);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    height: 1000px;
    transform: translate(-50%, -50%);
     color: white;">

    <div><br><br><br><br><br>
        <h1 style="font-size:80px; text-align: center;">THE HERO SQUAD APP</h1><br><br><br>
        <h1 style="text-align: center;">I am Rachel</h1><br><br><br>
    </div>

    <div class="svg-wrapper">
        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
            <rect id="shape" height="40" width="150" />
            <div id="text">
                <a href="/heroes/new"><span class="spot"></span>Check my App</a>
            </div>
        </svg>
    </div>




  </body>

{{/partial}}

{{> layout.hbs}}