{{#partial "content"}}
<!--    <body style="background-image: url(https://img.haikudeck.com/mg/DAEF916D-A7C8-4FE9-B1CE-F635F30AB9F8.jpg);">-->
<!--    <h1>THE HERO SQUAD</h1>-->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <body style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://img.haikudeck.com/mg/DAEF916D-A7C8-4FE9-B1CE-F635F30AB9F8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  color: white;">

    <div style="">
        <div style="">
            <h1 style="font-size:50px">THE HERO SQUAD APP</h1><br>
            <h1>I am Rachel</h1>

            <button><a href="/heroes/new">Check my App</a></button>
        </div>
    </div>



    </body>
















{{/partial}}

{{> layout.hbs}}