{{#block "header"}}

<!DOCTYPE html>
<html>
   <head>
        <title>{{#block "title" }}The Hero Squad{{/block}}</title>
        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Allerta+Stencil|BenchNine|Economica|Jura|Patrick+Hand&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|BenchNine|Economica|Patrick+Hand&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel='stylesheet' href="css/App.css">
   </head>
{{/block}}
    <div class="container-fluid">
        {{#block "content"}}

        {{/block }}
    </div>
{{#block "footer" }}
</html>
{{/block }}