{{#block "header"}}

<!DOCTYPE html>
<html>
<head>
<title>{{#block "title" }}The Hero Squad{{/block}}</title>

  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
   <link rel='stylesheet' href="css/App.css">
</head>
{{/block}}
<body>

<div class="container-fluid">
    {{#block "content"}}
    {{/block }}

</div>

{{#block "footer" }}
</body>
</html>
{{/block }}